<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <% include partials/head %>
</head>

<body class="container-fluid background">
  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="salonpic">

      <img src="http://i.imgsafe.org/17e1806.jpg" class="pic">
    </div>
    <div id='whitespace'></div>
    <div id='Intro'>
      <h3 class="Intro"> Style.Up is a web app which helps you keep track of your haircuts. </br> </h3>
      <h4>Get the perfect haircut/style everytime. </br> Sign up to start keeping track of your haircuts. </br> Not sure where to get your hair cut? </br> No worries! Check out our map below to look at Atlanta's top 30 hair salons, per yelp reviews, near you!</h4>
    </div>
    <div id='whitespace'></div>
    <div id='map'></div>
    <div id='geocoder-container'></div>
    <div id='directions'></div>
    <% include partials/homeMap %>

    <div id='team'>
      <h3 class="Team"> This is the team at Style.Up! </h3>
      <div>
      <div class="floating-box">
      <div class="group">
      <a href="https://www.linkedin.com/in/williamwheatholt" target="blank">
      <img src="http://i.imgsafe.org/2097faa.png" style="border-radius:250em;; height: 120px;  object-fit: scale-down;" alt="William Holt"></a></div><figcaption><p>William Holt</p></figcaption>
      </div>
      <div class="floating-box">
      <div class="group">
      <a href="https://www.linkedin.com/in/heatherrosenberg" target="blank">
      <img src="http://i.imgsafe.org/277c516.png" style="border-radius:250em;; height: 120px;  object-fit: scale-down;" alt="Heather Rosenberg"></a></div><figcaption><p>Heather Rosenberg</p></figcaption>
      </div>
      <div class="floating-box">
      <div class="group">
      <a href="https://www.linkedin.com/in/darionhall" target="blank">
      <img src="http://i.imgsafe.org/95e4c63.png" style="border-radius:250em;; height: 120px;" alt="Darion Hall"></a></div><figcaption><p>Darion Hall</p></figcaption>
      </div>
      <div class="floating-box">
      <div class="group">
      <a href="https://www.linkedin.com/in/lcaceda" target="blank">
      <img src="http://i.imgsafe.org/36be2f4.png" style="border-radius:250em;; height: 120px" alt="Leslie Caceda"></a></div><figcaption><p>Leslie Caceda</p></figcaption>
      </div>
      </div>

    </div>
   </main>

   <div id='whitespace'></div>
   <div id='whitespace'></div>


  <footer>
    <% include partials/footer %>
  </footer>

 </body>
</html>
