<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <% include partials/head %>
</head>

<body class="container-fluid background">
  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="salonpic">

      <img src="http://i.imgsafe.org/17e1806.jpg" class="pic">

    </div>

    <div id='map'></div>
    <div id='geocoder-container'></div>
    <div id='directions'></div>
    <% include partials/homeMap %>

  </main>

  <footer>
    <% include partials/footer %>
  </footer>

 </body>
</html>
