
<div class="form-group">
  <label for="email">Email</label>
  <input type="text"
         class="form-control"
         name="email"
         value="<%= style.email %>"
         <main><form class="style-form" action="/styles/<%= style._id %>?_method=GET" method="get"><% include _form %></form></main> %>

</div>









