<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/edit.css">
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>

    <form class="style-form" action="/styles/<%= style._id %>?_method=PUT" method="post">
      <% include _form %>
      <a href="/styles/<%= style._id %>" class="btn btn-primary">Back</a>
      <button type="submit" class="btn btn-success">Save</button>
      <form method="POST" action="/styles/<%= style._id %>?_method=DELETE" class="stylebox">
            <a href="/styles/<%= style._id %>">
            </a></form>


    </form>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
