
 body {
  background-color: #F0F0F0;
 }

.stylebox {
  background-color: #222222;
  padding: 10px;
  width: 220px;
  float: left;
  margin: 20px 0px 20px 30px;
  border-radius: 0px;
}

h3 {
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left: 570px;
  margin-top: 60px;
}

.stylebox:hover {
 -moz-box-shadow: 0 0 10px #222;
 -webkit-box-shadow: 0 0 10px #222;
 box-shadow: 0 0 10px #222;
}
