body {

  background: url(https://img0.etsystatic.com/055/1/9943706/il_fullxfull.717507572_gpnj.jpg);
  background-size: 1279px 750px;
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

form {
  margin-left: 340px;
  width: 600px;
  background-color: #222222;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 100px;
  margin-top: 100px;
}

label {
  color: #FFFFFF;
}
